<%= stylesheet_link_tag "choices", :media => "all" %>
<div id="choices">
  <%= form_tag(show_path, {class: "ui form", method: :post}) do%>

    <div class="row">
      <!-- ショップの選択肢のドロップダウン -->
      <div class="col-sm-3 col-sm-offset-2">
        <% #{{{ %>
        <div class="button-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            &nbsp;
            <span>ショップ</span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            <li>
            <a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
              <button type="button" id="select_all" class="btn btn-primary btn-xs">
                全選択／全解除
              </button>
            </a>
            </li>
            <% @shops.each do |shop| %>
              <li>
              <a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
                <input type="checkbox" name="s_ids[]" value=<%= shop.id %> <%= 'checked="checked"' if @selected_shop_ids && @selected_shop_ids.include?(shop.id) %>>&nbsp;<%= shop.name %>
              </a>
              </li>
            <% end %>
          </ul>
        </div>
        <% #}}} %>
      </div>
      <!-- 都道府県の選択肢のドロップダウン -->
      <div class="col-sm-3">
        <% #{{{ %>
        <div class="button-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-map-marker"></span>
            &nbsp;
            <span>都道府県</span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            <% @prefectures.each do |prefecture| %>
              <li><a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
                  <input type="checkbox" name="p_ids[]" value=<%= prefecture.id %> <%= 'checked="checked"' if @selected_prefecture_ids && @selected_prefecture_ids.include?(prefecture.id) %>>&nbsp;<%= prefecture.name %>
              </a></li>
            <% end %>
          </ul>
        </div>
        <% #}}} %>
      </div>
      <div class="col-sm-2">
        <%= submit_tag('検索', {id:"search_btn", class: "btn btn-primary btn-md", disabled:"disabled"}) %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'choices' %>
