<%= render 'shared/choices'%>

<div id="condition" class="row">

    <div class="col-md-1 no-padding col-xs-1">
      <p>検索結果
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      &nbsp;&nbsp;
      </p>
    </div>
  
    <div id="labels" class="col-md-11 no-padding col-xs-12">
      <% @hit_shops.each do |shop| %>
        <%= link_to shop_path(shop[:id]) do %>
          <div class="bootstrap_btn_wrapper">
            <button type="button" class="btn btn-sm btn-success">
              <%= shop[:name] %>
              <span class="badge"><%= shop[:branches_count] %>件</span>
            </button>
          </div>
        <% end %>
      <% end %>
      <% @prefectures.each do |prefecture| %>
        <% if @selected_prefecture_ids.include?(prefecture.id) %>
          <div class="bootstrap_btn_wrapper">
            <button type="button" class="btn btn-sm btn-danger">
              <%= prefecture.name %>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>

</div>

<% if @error_msg %>
  <div class="error alert alert-danger" role="alert">
    <strong>すみません、エラーが発生しました。<br><a href="/">TOPページ</a>からやり直して下さい。</strong>
  </div>
<% elsif @branch_markers.length == 0 %>
  <div class="error alert alert-danger" role="alert">
    該当する店舗が見つかりませんでした。
  </div>
<% else %>
  <div id="panel" class="branchlocator_panel">
    <div class="location_search">
      <p>駅名や建物名を指定してズーム</p>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </div>
    <ul class="branch_list">
      <% @branches.each.with_index do |b, i| %>
      <li>
        <div id="<%= i %>" class="branch">
          <div class="image"><img src="/assets/<%= b.shop_id %>.png" alt="brand logo"></div>
          <div class="description">
            <div class="title"><%= b.name %></div>
            <div class="address"><%= b.address %></div>
            <span class="lat"><%= b.latitude %></span>
            <span class="lng"><%= b.longitude %></span>
          </div>
          <div class="clear"></div>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div id="map"></div>
  <div class="clear"></div>
<% end %>
