<div class="container">
  <div class="title">
    <%= image_tag("#{@shop.id}.png", class: 'logo') %>

    <h1 class="name">
      <%= @shop.name %>
    </h1>
  </div>

  <div class="info">
    <div class="branches_count">
      登録数: <%= @shop.branches_count %> 店舗
    </div>
    <span id="prefectures_json"><%= @prefectures%></span>
    <span id="branches_json"><%= @branches%></span>
  </div>
  <div id="japan_map">
  </div>
</div>
