<%= stylesheet_link_tag "choices", :media => "all" %>
<div id="choices">
  <%= form_tag('/map', class: "ui form", method: :get) do%>

    <div class="row">
      <!-- ショップの選択肢のドロップダウン -->
      <div class="col-xs-3 col-xs-offset-2 col-sm-4 col-sm-offset-1">
        <% #{{{ %>
        <div class="button-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="choice_name">&nbsp;ショップ</span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left scrollable-menu">
            <li>
            <a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
              <button type="button" id="select_all" class="btn btn-primary btn-xs">
                全選択／全解除
              </button>
            </a>
            </li>
            <% @shops.each do |shop| %>
              <li>
              <a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
                <input type="checkbox" name="s_ids[]" value=<%= shop.id %> <%= 'checked="checked"' if @selected_shop_ids && @selected_shop_ids.include?(shop.id) %>>&nbsp;<%= shop.name %>
              </a>
              </li>
            <% end %>
          </ul>
        </div>
        <% #}}} %>
      </div>
      <!-- 都道府県の選択肢のドロップダウン -->
      <div class="col-xs-3 col-xs-offset-0 col-sm-4 col-sm-offset-0">
        <% #{{{ %>
        <div class="button-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="choice_name">&nbsp;都道府県</span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left scrollable-menu">
            <% @all_regions = @prefectures.pluck(:region).flatten.uniq %>
            <% @all_regions.each do |region| %>
              <p class="region_name"><%= region %></p>
              <% @prefectures.where(region: region).each do |prefecture| %>
                <li><a href="javascript:void(0)" class="small" data-value="option1" tabIndex="-1">
                  <input type="checkbox" name="p_ids[]" value=<%= prefecture.id %> <%= 'checked="checked"' if @selected_prefecture_ids && @selected_prefecture_ids.include?(prefecture.id) %>>&nbsp;<%= prefecture.name %>
                </a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% #}}} %>
      </div>
      <div class="col-xs-2 col-xs-offset-0 col-sm-2 col-sm-offset-0">
        <%= submit_tag('検索', {id:"search_btn", class: "btn btn-primary btn-md", disabled:"disabled"}) %>
      </div>
    </div>
  <% end %>
</div>
