<%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>

  <div class="container">
    <div class="page-header">
      <h1>お問い合わせ</h1>
    </div>

    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table class="table">
      <tr>
        <th>名前<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :name, placeholder: " 名前（必須）" %></td>
      </tr>
      <tr>
        <th>メールアドレス<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :email, placeholder:" メールアドレス（必須）" %></td>
      </tr>
      <tr>
        <th>お問い合わせ内容</th>
        <td><%= f.text_area :message, placeholder:" 質問・ご要望、その他なんでもどうぞ！"%></td>
      </tr>
    </table>
    <%= f.submit '確認', class: 'btn btn-primary' %>
    <div class="clear"></div>
  </div>
<% end %>
