<h1>Shop#show</h1>

<%= render 'choices'%>

<% if @error_msg %>
  <span style="color: red; font-weight: bold;"> Error: <%= @error_msg %> </span>
<% else %>
  <div id="map"></div>
  <script type="text/javascript">
    // var handler = Gmaps.build('Google');
    // handler.buildMap({ internal: {id: 'map'}}, function(){
    //   var markers = handler.addMarkers([
    //       <% @branches.each do |b| %>
    //         { lat: <%= b.latitude %>, lng: <%= b.longitude %>},
    //       <% end %>
    //   ]);
    //   handler.bounds.extendWith(markers);
    //   handler.fitMapToBounds();
    // });

    handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @branch_markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
<% end %>
