<h1>Shops#new</h1>

<%= form_for(@shop) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :mens %>
    <%= f.check_box :mens %>

    <%= f.label :ladies %>
    <%= f.check_box :ladies %>
  </div>

  <%= f.submit%>
<% end %>
